<!DOCTYPE html>
<html>
	
  <head>
    <style type="text/css">
	p {vertical-align: bottom; bottom:10px; position:absolute;}
    </style>
  </head>

  <body>
    <h1>User Registry</h1>
    <form action="/registry" method="post" enctype="multipart/form-data">
	<table>
	  <tr>
	    <td>Name:</td>
	    <td><input type="text" name="name"></input></td>
	  </tr>
	  <tr>
	    <td>Birthdate:</td>
	    <td><input type="text" name="birthdate"></input></td>
	  </tr>
	  <tr>
	    <td>Profession:</td>
	    <td><input type="text" name="profession"></input></td>
	  </tr>
	  <tr>
	    <td>E-Mail:</td>
	    <td><input type="text" name="email"></input></td>
	  </tr>
	  <tr>
	    <td>Country:</td>
	    <td><input type="text" name="country"></input></td>
	  </tr>
	  <tr>
	    <td>Resume:</td>
	    <td><input type="file" name="resume"></input></td>
	  </tr>
	<table>
	<input type="submit" value="Send">
    </form>
    <p><a href="/index">Back</a></p>
    <script type="text/javascript" src="static/registry.js"></script>
    <script>
	welcome();
    </script>

  </body>

</html>
