<!DOCTYPE html>
<html>
	
  <head>
    <style type="text/css">
	p {vertical-align: bottom; bottom:10px; position:absolute;}
    </style>
  </head>

  <body>
    <h1>User Registry</h1>
    <form action="/registry">
	Name:<input type="text" name="name"></input><br>
        Birthdate:<input type="text" name="birthdate"></input><br>
	Profession:<input type="text" name="profession"></input><br>
	E-Mail:<input type="text" name="email"></input><br>
	Country:<input type="text" name="country"><br>
	<input type="submit" value="Send">
    </form>
    <p><a href="/index">Back</a></p>
    <script type="text/javascript" src="static/registry.js"></script>
    <script>
	welcome();
    </script>

  </body>

</html>
